[sources]
unknown-registry = "deny"
unknown-git = "deny"

[licenses]
# TODO: Enable after publishing
#unlicensed = "deny"
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "ISC",
    "MIT",
    "OpenSSL",
    "Unicode-DFS-2016",
    "Unicode-3.0",
    "Zlib",
]

[[licenses.clarify]]
name = "ring"
version = ">= 0.13.0, < 0.18.0"
expression = "MIT AND ISC AND OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 }
]

[advisories]
version = 2
