name: Integration tests (Main)

on:
  push:
    branches: [ "main", "feature/*", "workflow/*" ]
  merge_group:
    types: [ "checks_requested" ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  integration:
    name: Integration
    uses: ./.github/workflows/python-integration.yml
    with:
      ref: ${{ github.event.after }}
